@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<iframe src="https://h5.veer.tv/photo-player?pid=238707" frameborder="0" allowfullscreen="true" width="560" height="315"></iframe>

<p>Use this area to provide additional information.</p>
